@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans {
      font-family: "Open Sans", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings:
        "wdth" 100;
    }

    /* shared styles */
.display-flex{
      display: flex;
}
.text-dark2{
      color: #424242;
}
.text-dark3{
      color: #727272;
}
.btn-primary{
      background-color: #FF900E;
      color: #ffffff;
      padding: 20px 25px;
      border-radius: 8px;
      font-size: 1.25rem;
      font-weight: 600;
      border: none;
}
main > section{
      margin-top: 130px;
}
.title{
      font-weight: 700;
      font-size: 2.82rem;
}
.text-container{
      max-width: 540px;
}

/* navber related styles */
.nevbar{
      justify-content: space-between;
      align-items: center;
}
.brand{
      font-size: 3rem;
      font-weight: 700;
}
.nav-item{
      list-style: none;
      margin-right: 30px;
}
.nav-link{
      text-decoration: none;
      font-size: 500;
}
.bg-light{
      background-color: rgba(255, 144, 14, 0.1);
}
main, .nevbar,
.banner{
      max-width: 1440px;
      margin: 0 auto;
}

/* banner related styles */
.banner-content{
      max-width: 850px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px;
}
.banner-title{
      font-weight: 700;
      font-size: 4rem;
}
.banner-desription{
      max-width: 865px;
      margin-top: -25px;
      margin-bottom: 30px;
      padding-left: 10px;
}
.banner-img{
      width: 100%;
}

/* team and features related styles */
.teams{
      align-items: center;
}
.team-img-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
}
.our-features{
      margin-left: 130px;
      max-width: 530px;
}
#fe-quick{
      font-size: 2.82rem;
      font-weight: 500;
}
#fe-fe{
      font-size: 2.82rem;
      font-weight: 700;
      color: #FF900E;
}

/* love & enjoy related style */
.enjoy{
      gap: 140px;
}
#enjoy-title-color{
      border-left:5px solid #FF900E;
      padding-left: 21px;
}
.enjoy-card-title{
      font-weight: 600;
      font-size: 1.25rem;
      margin-top: 0px;
      margin-bottom: 0px;
}
.enjoy-card{
      padding: 30px;
      box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
      margin-bottom: 20px;
      border-radius: 8px;
}

/* some facts related style */
.facts-container{
      display: grid;
      grid-template-columns: repeat(4, 1fr);

}
.facts-description{
      max-width: 542px;
      margin-top: -21px;
      margin-bottom: 100px;
}
.fact-card{
      border: 1px solid #FF900E;
      border-radius: 8px;   
      width: 240px;
      height: 240px;
      align-items: center;
      justify-content: center;
      text-align: center;
}
.fact-number{
      font-size: 2.8rem;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 5px;
}
.fact-name{
      margin-top: 5px;
      font-weight: 600;
      font-size: 1.2rem;
}

/* Our Sponspors related style */
.sponsors-info{
      margin: 0 auto;
      text-align: center;
}
.sponspors-logo{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      margin-top: 50px;
}
.sponspor-img{
      filter: grayscale(100%);
      height: 50px;
      
}

/* footer related style */
footer{
      background-color: #FFF4E7;
      font-size: 1.25rem;
      text-align: center;
      max-width: 1440px;
      height: 100px;
      margin: 130px auto;
}
footer p{
      padding-top: 35px;
}



/*small size device respponsive media query */
@media screen and (max-width: 576px) {
      .nevbar, .teams{
            flex-direction: column;
      }
      .team-img-container, .facts-container,
      .sponspors-logo{
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            gap: 24px;
      }
      .our-features, .text-container{
            margin-left: 20px;
      }
}


/*small size device respponsive media query */
@media screen and (min-width:576px) and (max-width: 992px){
      .teams{
            flex-direction: column;
      }
      .our-features, .text-container{
            margin: 50px auto;
      }
      .facts-container, .sponspors-logo{
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            gap: 24px;
      }
}